.header_container {
    display: flex;
    max-width: 1440px;
    padding: 20px 40px 20px 348px;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);

    /* header Typography */
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.header_icons_container {
    display: flex;
    align-items: center;
    gap: 16px;
}

#header_help_icon {
    content: url('assets/img/icons/help_default.svg');
    width: 32px;
    height: 32px;
}

#header_help_icon:hover {
    cursor: pointer;
    content: url('assets/img/icons/help_hover.svg');
    width: 32px;
    height: 32px;
}

.header_user_initials_container {
    width: 56px;
    height: 56px;
    border: 3px solid #2A3647;
    border-radius: 559px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_user_initials_box {
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 559px;
    background: var(--white, #FFF);
}

.header_user_initials_box:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(12, 46, 98, 0.12) 0%, rgba(12, 46, 98, 0.12) 100%), #FFF;
}

.header_user_initials {
    width: 27.944px;
    height: 14.238px;
    flex-shrink: 0;
}


/*--- Header Responsive --- */

@media screen and (max-width: 428px) {
    .header_container {
        width: 428px;
        padding: 20px 16px;
    }
}