.mb-32 {
  margin-bottom: 32px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mt-20 {
  margin-top: 20px;
}

.gap-35 {
  gap: 35px;
}

.gap-16 {
  gap: 16px;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 80px;
  left: 77px;
  width: 100px;
}

.sign-up {
  position: absolute;
  top: 67px;
  right: 122px;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 48px 115px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.login-container h1 {
  padding-bottom: 16px;
  margin-bottom: 0px;
}

.remember-me {
  margin: 20px auto 32px 39px;
  font-size: 16px;
}

.footer {
  position: absolute;
  bottom: 40px;
}

.footer a {
  color: #a8a8a8;
  font-size: 16px;
  padding: 8px;
  text-decoration: none;
}

.footer a:hover {
  color: #29abe2;
  font-weight: 700;
}
