<div class="add-contact-container">
  <div class="add-contact-left">
    <div>
      <img src="./assets/img/logo_white.svg" alt="JOin Logo" />
      <h1>Add Contact</h1>
      <p>Tasks are better with a team!</p>
    </div>
  </div>

  <div class="add-contact-right">
    <div class="close-btn-container" onclick="hideAddContactOverlay()">
      <img src="./assets/img/icons/cancel.svg" />
    </div>
    <div class="add-contact-img-container">
      <img src="./assets/img/icons/person.svg" alt="contact picture" />
    </div>

    <div class="add-contact-input-container">
      <div class="input-container">
        <input
          class="input-field"
          type="text"
          id="add-contact-name"
          placeholder="Name"
        />
        <img src="./assets/img/icons/person_grey.svg" />
      </div>

      <div class="input-container">
        <input
          class="input-field"
          type="email"
          id="add-contact-email"
          placeholder="email"
        />
        <img src="./assets/img/icons/mail.svg" />
      </div>

      <div class="input-container">
        <input
          class="input-field"
          type="text"
          id="add-contact-phone"
          placeholder="Phone"
        />
        <img src="./assets/img/icons/call.svg" />
      </div>

      <div class="add-contact-button-container">
        <button class="button-secondary-w-icon">
          Cancel <img src="./assets/img/icons/cancel.svg" />
        </button>
        <button class="button-w-icon">
          Create contact <img src="./assets/img/icons/check.svg" />
        </button>
      </div>
    </div>
  </div>
</div>
