<img class="sidebar_logo" src="assets/img/logo.svg" />
<div class="sidebar_links_container">
  <div class="sidebar_category_container">
    <div class="sidebar_button sidebar_button_typography">
      <img
        class="sidebar_button_icon"
        src="assets/img/icons/summary_icon.svg"
      />
      Summary
    </div>
  </div>
  <div class="sidebar_category_container">
    <div class="sidebar_button sidebar_button_typography">
      <img
        class="sidebar_button_icon"
        src="assets/img/icons/add_task_icon.svg"
      />
      Add Task
    </div>
  </div>
  <div class="sidebar_category_container">
    <div class="sidebar_button sidebar_button_typography">
      <img class="sidebar_button_icon" src="assets/img/icons/board_icon.svg" />
      Board
    </div>
  </div>
  <div class="sidebar_category_container">
    <div class="sidebar_button sidebar_button_typography">
      <img
        class="sidebar_button_icon"
        src="assets/img/icons/contacts_icon.svg"
      />
      Contacts
    </div>
  </div>
  <div class="sidebar_footer_container">
    <div class="sidebar_footer_buttons">Privacy Policy</div>
    <div class="sidebar_footer_buttons">Legal notice</div>
  </div>
</div>
