.add-task-form {
    padding-left: 32px;
    padding-top: 59px;
    padding-right: 32px;
}

.header-div h1 {
    font-size: 61px;
    margin-top: 0px;
    margin-bottom: 0;
    width: 100%;
    font-weight: bold;
}

.content-add-task {
    background-color: #F5F5F5;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.task-added {
    border-radius: 20px;
    background-color: #2a3647;
    color: #fff;
    padding: 24px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-description-div {
    flex-direction: column;
    display: flex;
   
    justify-content: space-between;
}

.date-prio-container {
    width: 100%;
}

.icon{
    padding-left: 10px;
}

.borderline {
    border: 1px solid #D1D1D1;
    margin-right: 48px;
    margin-left: 48px;
    display: flex;
    height: 424px;
}

span {
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.task-categories {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#category-dropdown-menu {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: white url(/assets/img/icons/arrow_drop_downaa.svg) no-repeat;
    background-position: right 16px center;
}

.description, .title, .date, .prio-categories, .subtask {
    margin-bottom: 24px;
}

textarea,
input[type=text],
input[type=date] {
    font-family: Inter, sans-serif;
}

/* ::placeholder {
    color: #D1D1D1;
    opacity: 1;
} */

::placeholder {
    color: #d1d1d1;
  }

.title-task-inputfield {
    outline: none;
    padding-left: 8px;
    border-radius: 10px;
    border: 1px solid #DADADA;
}
input:focus-visible{
    outline: none;
}

.description-task-inputfield {
    outline: none;
    padding-left: 8px;
}

.dropdown-position{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
}

.date-task-inputfield {
    width: 440px;
    padding-right: 10px;
    outline: none;
    padding-left: 8px;
    border-radius: 10px;
    border: 1px solid #DADADA !important;
    line-height: 200% !important;
}

.prio-btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.prio{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 24px;
    outline: none;
    border-radius: 8px;
    margin-right: 16px;
    border: 0px solid #DAD4D2;
    width: 136px;
    gap: 10px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.urgent-btn,
.medium-btn,
.low-btn {
    background-color: #FFFFFF;
}

/* .urgent-btn :hover,
.medium-btn :hover,
.low-btn :hover {
    cursor: pointer;
    box-shadow: 0px 3px 4px 1px rgba(168, 168, 168, 0.75);
    border: 0px solid #DAD4D2;
} */

.medium-btn-clicked {
    background-color: #FFB62A;
    color: #FFFFFF;
}

.low-btn-clicked {
    background-color: #7DE32E;
    color: #FFFFFF;
}

.urgent-btn-clicked {
    background-color: #FF3E01;
    color: #FFFFFF;
}

.prio-icon {
    margin-left: 5px;
}

.subtask-img {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.subtask-img:hover {
    border-radius: 8px;
    background-color: #DDDEDF;
}

.subtask-item:hover .icon {
    display: inline;
}

::-webkit-scrollbar-track {
    margin-top: 10px;
    background-color: transparent;
}

.create-delete-task-container {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0px;
    gap: 25px;
    padding-bottom: 30px;
    padding-right: 5px;
    padding-top: 30px;
}

.create-delete-task-btn {
    display: flex;
    justify-content: center;
}

.add-task-btn {
    margin-right: 10px;
    align-items: center;
    display: flex;
}

.add-task-btn:hover .clearIconBlue {
    display: inline;
}

.add-task-btn:hover .clearIconDefault {
    display: none;
}

.clearIconBlue,
.clearIconDefault {
    padding-left: 4px;
}

.d-none-ni {
    display: none;
}

.d-none {
    display: none;
}

/*  *//*  *//*  *//*  *//*  *//*  *//*  *//*  */

.contact-entry-task {
    padding: 15px 24px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

.initials-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.select-user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.selected-users-container{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 10px;
}

.custom-select {
    position: relative;
    width: 400px;
    max-width: 100%;
    font-size: 1.15rem;
  }
  
  .select-button {
    width: 100%;
    font-size: 1.15rem;
    background-color: #fff;
    padding: 0.675em 1em;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    cursor: pointer;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .selected-value {
    text-align: left;
    border: none;
    font-size: 21px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  .dropdown:hover{
    cursor: pointer;
  }

  #categories-list{
    margin-block-start: 0;
  }

  .categories-colour{
    margin-right: 0 !important;
  }
  
  .rotate{
    transform: rotate(180deg);
    transition: 100ms ease-in-out;
  }

 /*  .rotate-icon-background{
    background: white url(/assets/img/icons/arrow_drop_downtop.svg) no-repeat !important;
    background-position: right 16px center !important;
  } */
  
  .select-dropdown {
    position: absolute;
    list-style: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    transition: 0.5s ease;
  }
  
  .dropdown:focus-within {
    border: 1px solid #29abe2;
  }

  .date-task-inputfield:focus-within {
    border: 1px solid #29abe2 !important;
}
  
  #select-dropdown-users, #select-dropdown-categories {
    margin: 0;
  }
  
  .select-dropdown::-webkit-scrollbar {
    width: 7px;
  }
  .select-dropdown::-webkit-scrollbar-track {
    border-radius: 25px;
  }
  
  .select-dropdown::-webkit-scrollbar-thumb {
    border-radius: 25px;
  }
  
  /* interactivity */
  
  .custom-select.active .arrow {
    transform: rotate(180deg);
  }
  
  .custom-select.active .select-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }

  .subtask-item{
    display: flex;
    padding-bottom: 8px;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    align-items: center;
    padding-top: 8px;
  }

  .subtask-icons{
    display: flex;
  }

  #select-subtask{
    border-radius: 10px;
    width: 440px;
  }

.ul-edit{
    padding-inline-start: 0px;
}

.display-block{
    display: block;
}

.width-small{
    width: 400px !important;
}

#select-subtask:hover  .subtask-li:hover{
    background-color: #DDDEDF;
}

.subtask-li{
    border-radius: 10px;
   
}

 .add-subtaskicons {
    padding-right: 10px;
    padding-left: 10px;
 }

 .subtask-item .subtask-icons {
    visibility: hidden;
    transition: 100ms ease-in-out;
}

.visible{
    visibility: visible!important;
}

.subtask-item:hover .subtask-icons {
    transition: 100ms ease-in-out;
    visibility: visible;
}

.user-option:hover{
    background-color: #2a3647;
    color: #fff;
}

.user-option{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
    cursor: pointer;
    padding: 12px 16px;
    border-radius: 10px;
}



@media (max-width: 1200px){

    .add-task-form {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        padding-top: 0;
    }

    .content-add-task {
        flex-direction: column;
        align-items: flex-start;
    }

    .borderline{
        display: none;
    }
}











