
.board_header_container {
    width: 100%;
    height: 232px;
    flex-shrink: 0;
}

.board_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 79.5px 88px 79.5px 64px;
}

.board_headline_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

.board_search_task_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 32px;
}

#button_add_task_desktop {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;

    /* Typography */
    color: var(--white, #FFF);
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

#button_add_task img {
    width: 32px;
    height: 32px;
}

#button_add_task:hover {
    border: 1px solid #29ABE2;
    border-radius: 10px;
    background: #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: all 100ms ease-in-out;
}

#button_add_task_mobile {
    display: none;
}


/*--- Board Responsive --- */

@media screen and (max-width: 428px) {
    main {
        width: 100%;
        height: 1000px;
        padding: 0 16px;
        position: inherit;
        left: 0;
        top: 120px;
    }

    .board_header_container {
        width: 100%;
    }

    .board_header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .board_headline_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1px;
        width: 100%;
    }

    .board_headline_container h1 {
        font-size: 47px;
    }

    #button_add_task_desktop {
        display: none;
    }

    #button_add_task_mobile {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 3px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
    }

    .board_search_task_container {
        width: 100%;
    }

    .input-container {
        width: 396px;
    }
}