body {
  margin: 0;
  font-family: Inter, sans-serif;
}

/* globals */

.dp-flex-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;

}

/* contact-detail */
.test-contact-detail-frame {
  height: 100%;
  width: 70%;
  background-color: #f6f7f8;
  align-items: flex-start;
  justify-content: flex-start;
}

/* contact header */
.contacts-header {
  gap: 30px;
  height: 73px;
  width: 569px;
  margin-top: 180px;
  margin-left: 64px;
}

.contacts-header h1 {
  font-size: 61px;
  font-weight: bold;
}

.contacts-header p {
  font-size: 27px;
  font-weight: 400;
  color: #2a3647;
  white-space: nowrap;
}

.contact-header-vektor {
  border: 3px solid #29abe2;
  height: 59px;
}

/* contact-list */
.test-list-frame {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 32px 24px;
  overflow-y: scroll;
}

/* list-scroll-bar */
.test-list-frame::-webkit-scrollbar {
  width: 24px;
  /* Breite des Scrollbalkens */
}

.test-list-frame::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Hintergrundfarbe des Scrollbalkenbereichs */
}

.test-list-frame::-webkit-scrollbar-thumb {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="8" height="61" viewBox="0 0 8 61" fill="none"%3E%3Cpath d="M4 4V57" stroke="%23A8A8A8" stroke-width="8" stroke-linecap="round"%3E%3C/path%3E%3C/svg%3E');
  stroke-width: 8px;
  stroke: var(--icon, #a8a8a8);
  height: 53px;
  width: 0;
}

/* contact categorie */
.contact-categorie {
  width: 352px;
}

.contact-categorie p {
  padding-inline: 36px;
  margin-block: 17px;
}

.vector {
  height: 0;
  border: 1px solid #d1d1d1;
  width: 352px;
}

/* contact entry */
.contact-entry-frame {
  width: 352px;
  margin-block: 15px;
  border-radius: 10px;
  background: #fff;
  height: 48px;
  justify-content: flex-start !important;
}

.contact-entry {
  padding-inline: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 35px;
}

.contact-entry email {
  color: #007cee;
  font-weight: 400;
  font-size: 12px;
}

.acc-initials {
  height: 42px;
  background-color: #ff7a00;
  color: white;
  border-radius: 50%;
  font-weight: 400;
  font-size: 12px;
}

.acc-initials p {
  width: 42px;
}

.button-frame {
  padding-inline: 52px;
  padding-block: 22.5px;
}

.button-frame button {
  gap: 16px;
}

.button-frame img {
  height: 32px;
  width: 32px;
  gap: 16px;
}
