body {
  margin: 0;
  font-family: Inter, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- contact-list --- */

.contact-list {
  width: 30%;
  height: 100%;
  padding: 32px 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
  overflow-x: hidden;
  overflow-y: auto;
}

.contact-category {
  padding: 17px 36px;
  border-bottom: 1px solid #d1d1d1;
}

.contact-entry {
  width: 100%;
  height: 48px;
  margin: 15px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-entry email {
  display: block;
  color: #007cee;
  font-weight: 400;
  font-size: 16px;
}

.acc-initials {
  height: 42px;
  width: 42px;
  background-color: #ff7a00;
  color: white;
  border-radius: 45px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  flex-shrink: 0;
}

/* --- contact-list ends --- */

/* --- contact-details --- */

.contact-container {
  height: 100%;
  width: 70%;
  align-items: flex-start;
  justify-content: flex-start;
}

.contact-header {
  margin-top: 80px;
  margin-left: 64px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-header h1 {
  border-right: 3px solid #29abe2;
  padding-right: 30px;
}
.contact-header p {
  font-size: 27px;
  color: #2a3647;
}

/* --- contact-details ends --- */
