body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

/* content */
.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F6F7F8;
    position: relative;
}

.w100 {
    width: 100%;
}

/* login logo & animation */
.login-logo {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 80px;
    left: 77px;
    z-index: 999;
    animation: logo_animation 0.75s ease-in-out 0.25s forwards;
}

@keyframes logo_animation {
    0% {
        width: 80%;
        height: 80%;
    }

    100% {
        width: 101px;
        height: 122px;
    }
}

.start-animations-helper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    z-index: 998;
    animation: start-animations-helper_animation 0.75s ease-in-out 0.23s forwards;
}

@keyframes start-animations-helper_animation {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

/* login card */
.login-card-frame {
    padding: 48px 115px;
    background-color: white;
    border-radius: 30px;
}

.signUp-card-frame {
    padding: 48px 88px;
    background-color: white;
    border-radius: 30px;
}

.login-card {
    width: 422px;
    height: 397px;
    gap: 32px;
}

.signUp-card {
    width: 422px;
    height: 534px;
    gap: 32px;
}

.login-card h1 {
    font-size: 61px;
    font-weight: 700;
    color: #000;
    width: 315px;
    margin: 0;
    margin-bottom: 16px;
}

.headline-underline {
    width: 150px;
    border: 3px solid #29ABE2;
}

.rememberMe {
    padding-left: 39px;
    padding-right: 241px;
    font-size: 16px;
}

.rememberMe input {
    margin: 0;
    margin-right: 8px;
}

label {
    white-space: nowrap;
    margin-top: -2.9214px;
}

.login-button_frame {
    gap: 35px;
}

.switch-to-sign-up_frame {
    position: fixed;
    top: 67px;
    right: 122px;
    gap: 35px;
}

.switch-to-sign-up_frame p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.link {
    text-decoration: none;
    color: #29ABE2;
}

.link:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.checkbox:hover {
    scale: 1.05;
}

.policy_frame {
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
}

.policy_frame a {
    color: #A8A8A8;
    text-decoration: none;
}

.policy_frame a:hover {
    color: #29ABE2;
    font-weight: 700;
}

.visible-img {
    cursor: pointer;
}

.warning {
    font-size: 12px;
    color: red;
    margin-top: 12px;
}